<h1>NEW TASK</h1>

<%= form_for(@task) do |element| %>
<%= element.label :title %>
<%= element.text_field :title %>
<%= element.label :details %>
<%= element.text_field :details %>
<%= element.submit %>
<% end %>


 <%= link_to "Go back to the List", tasks_path %>
